Simulated-annealing/.idea
Simulated-annealing/tkfactory/__pycache__
Simulated-annealing/__pycache__

Application-for-cataloguing-samples/BazaDanychElementow/packages
Application-for-cataloguing-samples/BazaDanychElementow/BazaDanychElementow/bin
Application-for-cataloguing-samples/BazaDanychElementow/BazaDanychElementow/obj